/** Colors */
$th-blue: color('blue', 'darken-1');
$th-blue-light: color('blue', 'lighten-4');
$th-green: color('green', 'lighten-2');
$th-green-med: color('green', 'darken-2');
$th-green-dark: color('green', 'darken-4');

/** Fonts */
$font-primary: 'Exo', sans-serif;
$font-secondary: 'Finger Paint', cursive;
