@import "../vendor/materialize/sass/materialize";
@import "base/variables";
@import "layout/header";
@import "layout/footer";
@import "pages/home";

html {
  font-family: $font-primary;
  font-size: 18px;
}

html, body, #main,
html, body, #main > div,
.page {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -100px;
}

.content-box {
  margin-top: 4em;
}
